.our {
  background-color: #ECF5FF;
  text-align: center;
  padding-top: 10px;
  -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.style-h3 {
  font-size: 36px;
  font-family: Open Sans, sans-serif;
  color: #283d50;
  text-align: center;
  font-weight: 600;
  position: relative;
}

.pclients {
  text-align: center;
  margin: auto;
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  padding-bottom: 30px;
  color: #7b8994;
  width: 50%;
}

.clientslog {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.clientslog .logo-cliente {
  padding: 45px;
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
  border: 1px solid #d6eaff;
  background: #fff;
  
}

.clientslog .logo-cliente img {
  max-width: 100%;
  max-height: 48px;
 
}

.zoom img {
  min-width: 110%;
  min-height: 110%;
  overflow: auto;
  padding-left: 0;
  
}